body
{
    background: rgb(46,46,46);
    background: linear-gradient(90deg, rgba(46,46,46,1) 0%, rgba(0,255,231,1) 0%);
}
button{
    border: 3px solid black !important;
    margin: 20px !important;
    
}

.col-md-6 
{
    border: 7px solid black !important;
    margin-top: 150px !important;
    padding: 20px;
}

h1{
font-weight: bolder !important;
margin: 20px !important;

}












































































































































































































